.recipes {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.header {
	background: none repeat scroll 0 0 #78297A;
	box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
	float: left;
	height: 54px;
	left: 0;
	padding: 8px 2.5%;
	position: fixed;
	top: 0;
	width: 95%;
	z-index: 10000;
}
	.header h1, .header nav, .header ul {
		float: left;
	}
	.header h1 {
		width: 315px;
		margin: 10px 4% 0 0;
	}
	.header nav {
		margin: 12px 0 0;
		width: 70%;
	}
	.header nav a {
		color: #fff;
		font-size: 16px;
		margin: 0 2px;
		padding: 5px 2.5%;
		display: inline-block;
		font-style: italic;
		text-decoration: none;
		font-weight: bold;
	}
	.header nav a:hover {
		background: none repeat scroll 0 0 #9D3EA1;
		border-radius: 10px;
		color: #fff;
		text-decoration: none;
	}
main {
	padding-top: 70px;
}
.masthead {
	background-color: #78297A;
	height: 0;
	padding-bottom: 32.85%;
	position: relative;
}
	.masthead .background {
		display: block;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	.masthead .back {
		left: 50%;
		margin: 0 0 0 -600px;
		top: 40px;
		width: 1200px;
		z-index: 10;
		position: absolute;
	}
		.masthead .back .backto {
			background-color: #fff;
			border-radius: 40px;
			box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
			color: #78297A;
			float: right;
			font-size: 14px;
			line-height: 1;
			margin: 0 0.5% 0 0;
			padding: 20px 35px 15px 45px;
			position: relative;
			font-weight: 600;
			font-style: italic;
		}
			.masthead .back .backto:before {
				content: "";
				background: url(../images/icon-back.png);
				display: inline-block;
				position: absolute;
				left: 25px;
				margin-top: -6px;
				top: 50%;
				width: 8px;
				height: 14px;
			}
				.masthead .back .backto:hover:before {
					left: 20px;
				}
	.masthead .product-stack {
		position: absolute;
		bottom: -90px;
		left: 2%;
		margin: 0;
		max-width: 400px;
		width: 29%;
		display: block;
	}
		.masthead .product-stack .img {
			border: 0 none;
			height: auto;
			max-width: 100%;
			vertical-align: middle;
		}
.container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
	.container .tabs {
		position: absolute;
		top: -60px;
		left: 29%;
		width: 67.5%;
		margin: 0;
	}
		.container .tabs li {
			float: left;
			margin: 0 1% 0 0;
			width: 32%;
			list-style: none;
			font-style: italic;
			font-weight: 600;
		}
		.tabs li a {
			-moz-box-sizing: border-box;
			border-radius: 5px 5px 0 0;
			display: block;
			float: left;
			font-size: 18px;
			height: 60px;
			padding: 12px 7.5%;
			text-align: center;
			width: 100%;
			background-color: #78297A;
			color: #fff;
			text-decoration: none;
		}
		.tabs li .active {
			color: #78297A;
			background-color: #fff;
			pointer-events: none;
			}
		.tabs li a:hover {
			background-color: #9D3EA1;
		}

	.container .sidebar {
		padding-top: 245px;
		float: left;
		margin-left: 2.5%;
		position: relative;
		width: 30%;
		display: block;
	}
		.sidebar .video {
			float: right;
			max-width: 320px;
		}
			.video .youtube-container {
				height: 0;
				overflow: hidden;
				position: relative;
				z-index: 1;
				padding-bottom: 56.25%;
			}
				.youtube-container iframe {
					position:;
					left: 0;
					top: 0;
					z-index: 2;
					width: 100%;
					height: 100%;
				}
	.container .recipe {
		width: 60%;
		float: left;
		padding: 6% 0 0 4.5%;
		color: #78297A;
	}
		.recipe section {
			margin-bottom: 50px;
		}
			.recipe .title, .recipe h3 {
				font-style: italic;
			}
			.recipe h2, .recipe h3 {
				font-size: 24px;
				margin: 10px 0 15px 0;
			}
			.recipe .title {
				font-size: 53px;
				margin-bottom: 30px;
			}
			.recipe .time, .recipe .servings {
				font-size: 20px;
				font-weight: normal;
				letter-spacing: 1px;
				display: inline-block;
				line-height: 35px;
				margin: 0 40px 20px 0;
				}
			.recipe .time:before, .recipe .servings:before {
				content: "";
				display: inline-block;
				position: relative;
				margin-right: 10px;
			}
			.recipe .time:before {
				background: url(../images/icon-timer.png);
				height: 35px;
				width: 36px;
				top: 10px;
			}
				.time .spacer {
					margin-left: 15px;
				}
			.recipe .servings:before {
				background: url(../images/icon-fork.png);
				width: 52px;
				height: 27px;
				top: 5px;
			}
	.recipe strong {
		font-size: 18px;
	}
	.recipe .ingredients {
		border-top: 2px solid #DEDEDE;
		padding-top: 40px;
	}
	.recipe .ingredients, .recipe .directions, .recipe .tips {
		line-height: 25px;
		letter-spacing: 1px;
		font-size: 16px;
		position: relative;
	}			
	.recipe ul li, .recipe ol li {
		padding-left: 30px;
		}
	.recipe ol li {
		margin-left: -15px
		}
	.recipe ul {
		margin: 0 0 0 25px;
		padding: 0;
		list-style: none;
	}
	.recipe h4 {
		font-size: 23px;
		font-weight: lighter;
	}
		.recipe ul li:before, .recipe ul li:before  {
			content: "•";
			position: absolute;
			left: 0px;
		}
		.recipes .nutrition-info ul {
			line-height: 35px;
			letter-spacing: 1px;
			font-size: 16px;
			position: relative;
			margin: 0;
		}
			.nutrition-info ul li {
				position: relative;
			}
			.nutrition-info .nutrition {
				position: absolute;
				left: 160px;
				top: 0;
				width: 100px;
			}
		.recipes .nutrition-info ul li:before {
			font-size: 30px;
		}

.footer {
	float: left;
	clear: both;
	background-color: #69206B;
	width: 100%;
	height: 275px;
	text-align: center;
}
	.footer hr {
		border-width: 1px 0 0;
		border-color: #551C57;
		border-style: solid;
	}
	.footer img {
		padding-bottom: 100px;
		position: relative;
		top: 55px;
	}
		.legal li {
			display: inline-block;
			font-style: italic;
			text-decoration: none;
			font-weight: bold;
		}
			.legal a {
				color: #fff;
				font-size: 14px;
				margin: 0 5px;
				padding: 5px 10%;
				display: inline-block;
				font-style: italic;
				text-decoration: none;
				font-weight: bold;
			}
			.legal .active {
				pointer-events: none;
			}
			.legal a:hover {
				background: none repeat scroll 0 0 #9D3EA1;
				border-radius: 10px;
				color: #fff;
				text-decoration: none;
			}